body{
    background-position: 0; 
}
.header{
    background-color:#ffffff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-style: inset;
    border-width: 1px;
    border-color: #CFD3C9;
    padding-bottom: 0.25cm;
}

div p{
    font-size: 18px;
    font-family: Tahoma;
    display: flex;
    justify-content: center;
    margin: 2cm 4%;
    
}

#Resultado{
    resize: none;
    font-family:Tahoma;
    font-size: 18px;  
}

#label-expresion{
    font-family: Tahoma;
    font-size: 22px;
}

#Expresion{
    resize: none;
    overflow: hidden;
    font-family: Tahoma;
    padding:0.25cm 0.5cm;
    font-size: 20px;
    border-radius: 9px;
    border-color: black;
}

#Evaluar{
    padding: 0.25cm .5cm;
    border-radius: 9px;
    border-color: black;
    background-color: black;
    font-family: Tahoma;
    font-size: 14px;
    color: white;
}

.input{   
    background-color: burlywood;
    border-radius:9px;
    border: 1cm;
    border-color: #CFD3C9;
    width: 12.4cm;
    height: 8.5cm;
    display: flex;
    justify-content: center;
    margin-left: 33.33%;
}

.input div{  
    justify-content: center;
}

.input #label-expresion{
    margin-top: 1.5cm;
    margin-left: 3.5cm;
}
.input #Expresion{
    margin-top: 0.5cm;
    margin-left: 2.5cm;
}
.input #Evaluar{
    margin-top: 1cm;
    margin-left: 5cm;
}




