body{
    background-position: 0; 
}
.header{
    background-color:#ffffff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-style: inset;
    border-width: 1px;
    border-color: #CFD3C9;
    padding-bottom: 0.25cm;
}

div p{
    font-size: 18px;
    font-family: Tahoma;
    display: flex;
    justify-content: center;
    margin: 2cm 4%;
    
}

#resultado{
    resize: none;
    font-family:Tahoma;
    font-size: 18px;  
}

.tipo1{
    margin-left: 40%;
    width: 350px;
    border-radius: 9px;
    background-color: rgb(98, 216, 98);
}

.tipo2{
    margin-left: 40%;
    width: 350px;
    border-radius: 9px;
    background-color: rgb(255, 132, 132);
}

.tipo3{
    background-color: white; 
}

.tipo1 p{
    padding:0.5cm;
}

.tipo2 p{
    padding:0.5cm;
}

#label-expresion{
    font-family: Tahoma;
    font-size: 22px;
}

#Expresion{
    resize: none;
    overflow: hidden;
    font-family: Tahoma;
    padding:0.25cm 0.5cm;
    font-size: 20px;
    border-radius: 9px;
    border-color: black;
}

#Evaluar{
    padding: 0.25cm .5cm;
    border-radius: 9px;
    border-color: black;
    background-color: black;
    font-family: Tahoma;
    font-size: 14px;
    color: white;
}


.input{   
    background-color: burlywood;
    border-radius:22px;
    width: 12.4cm;
    height: 8.5cm;
    display: flex;
    margin-left: 33.33%;
    
}

.input div{  
    justify-content: center;
    padding-top: 1.75cm;
}

.input div #label-expresion{
    margin-left: 4cm;
    
}
.input #Expresion{
    margin-top: 0.5cm;
    margin-left: 2.5cm;
}
.input #Evaluar{
    margin-top: 1.25cm;
    margin-left: 5cm;
}




